<header >
    <h1>
    <div class="logo">Selection Boutique
       
    </div>

</h1>
    <nav>
        <div class="cart">
            <ul >
                <li class="tabs"><a href="/">Home</a></li>
                <li class="tabs"><a href="/collection">Collection</a></li>
                <li class="tabs"><a href="/about">About Us</a></li>
                <li class="tabs"><a href="/contact">Contact</a></li>
            
            </ul>
            <p><a href="#"><i class="fa-solid fa-cart-shopping"></i></a><p>
        </div>
    </nav>

</header>