<!DOCTYPE html>
<html lang="en">
<head id="tabs">
    <%- include('partials/header') %>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://kit.fontawesome.com/4badeb0b83.js" crossorigin="anonymous"></script>
</head>
<body>
    <main>
        <div id = "style_main">
          
          
        </div>
    </main>

    <section id="home" class="hero">
        <h1>Welcome to Our Boutique</h1>
        <p>Explore the finest collection of Punjabi suits</p>
        <button onclick="location.href='/collection'">Explore Now</button>
    </section>



    <%- include('partials/footer') %>
</body>
</html>